certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
dill==0.3.1.1
geographiclib==1.50
geopy==1.21.0
idna==2.9
numpy==1.18.1
pika==1.1.0
pycparser==2.20
pytz==2019.3
PyYAML==5.3
redis==3.4.1
requests==2.23.0
RestrictedPython==5.0
six==1.14.0
sly==0.3
torch==1.4.0
tzlocal==2.0.0
urllib3==1.25.8
wrapt==1.12.0
